%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:bokes, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:bokes, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:bokes, :edit, :id => @boke.id)

.tabs-content
  -form_for :boke, url(:bokes, :update, :id => @boke.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'bokes/form', :locals => { :f => f }
